<%- include('../includes/head.ejs') %>
<body>
<%- include('../includes/navigation.ejs') %>
<% if(error_msg !='undefined') {%>
    <strong>  <%= error_msg %></strong>

<% } %>

    <% if (products.length >0)  { %>
        <h1 class="centered"> Your Products</h1>
       
        
        <div class="card-columns" >
            <% for (let x of products) { %>
            <article class="card product-item" >
                <header class="card__header">
                    <h1 class="product__title"><b><%= x.productId.title %></b></h1>
                </header>
                <div class="card__image">
                    <img src="<%= x.productId.imageUrl %>" class="img-thumbnail" width="260" height="240" alt="<%= x.productId.title %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price"><b>$<%= x.productId.price %></b></h2>
                    <h2><b>Quantity = <%= x.quantity %></b></h2>
                </div>
                <div class="card__actions">
                    <form action="delete-cart-item" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden"  name="productId" value="<%= x.productId._id %>"  >
                        <button type="submit" class="btn btn-danger"> Delete </button>
                    </form>
                    
            </article>
           
            <%} %>
        </div>

               
        <div class="centered">
        <form action="/create-order" method=POST>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <form>
                <script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_Gzupwrob3IihPG"
                    async> </script>
            </form>
            <!-- <button type="sumbit" class="btn btn-success">Click here to order all the items.</button> -->
        </form>
    </div>

        <% } else { %>
            <h1>NO products in Cart</h1>
            <% } %>


<%- include('../includes/end.ejs') %>