<%- include('../includes/head.ejs') %>
<body>

    <%- include('../includes/navigation.ejs') %>
    
    <div class="container">
        <div class="row">
            <div>
               
                <h2>Welcome <%=name%> :)</h2>
                <br>
            </div>
           

        </div>
    
  <% if(product.length>0) {%>
    
   
        <div class="container ">
            <div class="row" style="margin-left: 250px;">
    
                <form class="form-control-lg mt-3 w-75 p-3"
                    action="/search" method="POST"
                    enctype="multipart/form-data">
    
                    <div class="form-row">
                        <input type="text" class="form-control" name="search" placeholder="Serach keyword">
                    </div>

                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn btn-primary mt-1">
                                Search
                            </button>
                </form>
            </div>
        </div>
   

        <div class="card-columns mt-3" >
            <% for (let x of product) { %>
            <article class="card product-item" >
                <header class="card__header">
                    <h1 class="product__title"><b><%= x.title %></b></h1>
                </header>
                <div class="card__image">
                    <img src="<%= x.imageUrl %>" class="img-thumbnail" width="260" height="240" alt="<%= x.title %>">
                </div>
                <div class="card__content">
                    <h2 class="product__price"><b>$<%= x.price %></b></h2>
                    <p class="product__description"><%= x.description %></p>
                </div>
                <div class="card__actions">
                    <a href="/products/<%= x._id %>" class="btn" ><button class="btn btn-info">Details</button> </a>
                  
                    <form action="/cart" method="POST">
                        <button class="btn btn-success">Add to Cart</button>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="hidden" name="productId" value="<%= x._id %>">
                        </form>
                   
                    
                    
            </article>
           
            <%} %>
        </div>
       
    <% } else {%>
       
        <h1>Sorry ...No Orders Available!</h1>
        <% }%>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

        <%- include('../includes/end.ejs') %>
